<section id="inicio" class="container__presentation">
    <div class="presentation__content">
        <div class="presentation__perfil">
            <div class="perfil__image">
                <img src="assets/img/foto_perfil.jpg" alt="foto mostrando o rosto do Alexsandro">
            </div>
            <div class="perfil__icons">
                <a href="https://www.linkedin.com/in/rodrigues-alexsandro/" target="_blank">
                    <img src="assets/img/linkedin.png" alt="logotipo linkedin">
                </a>
                <a href="https://github.com/alexsandev" target="_blank">
                    <img src="assets/img/github.png" alt="logotipo github">
                </a>
                <a href="">
                    <img src="assets/img/curriculo.png" alt="baixar curriculo">
                </a>
            </div>
        </div>
        <div class="presentation__text">
            <h3>Olá meu nome é Alexsandro, sou um</h3>
            <h1>FULLSTACK DEVELOPER</h1>
            <h3>Dá uma olhada no que posso fazer por você!</h3>
        </div>
    </div>
</section>