.container {
    height: 300px;
    background-color: white;
}

.container > a {
    text-decoration: none;
    color: black;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 30px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(189, 186, 186);
}

.detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
}