* {
    font-family: Roboto;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(218,199,255,1) 0%, rgba(140,82,255,1) 50%, rgba(218,199,255,1) 100%);
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    column-gap: 30px;
    row-gap: 30px;
    width: 80%;
}

.title {
    width: 80%;
}

@media screen and (max-width: 768px) {
    .content {
        display: flex;
        flex-direction: row;
        overflow: scroll;
    }
}