<section id="projetos" class="container">
    <div class="title">
        <h1>Projetos</h1>
    </div>
    <div class="content">
        <app-project-card
            title="Controle de vendas"
            description="Aplicação web para cadastro e consulta de vendedores."
            details= "C#  |  ASP.NET  |  Entity Framework Core  |  Identity"
            url="https://github.com/alexsandev/controle-de-vendas">
        </app-project-card>
        <app-project-card
            title="Minimal API"
            description="REST API que fornece dados de usuarios."
            details= "C#  |  ASP.NET  | Dapper  | Swagger"
            url="https://github.com/alexsandev/minimal-api.net">
        </app-project-card>
        <app-project-card
            title="Xadrez"
            description="Jogo de xadrez em C#"
            details= "C# | Console"
            url="https://github.com/alexsandev/xadrez-console">
        </app-project-card>
        <app-project-card
            title="Xadrez"
            description="Jogo de Xadrez offline para dois jogadores."
            details= "Java  |  JavaFX"
            url="https://github.com/alexsandev/java-chess">
        </app-project-card>
        <app-project-card
            title="Controle de pedidos"
            description="REST API que fornece recursos relacionados a pedidos (compras) de usuarios."
            details= "Java  |  Maven  |  Spring  |  JPA  |  H2"
            url="https://github.com/alexsandev/webservice-springboot-jpa">
        </app-project-card>
        <app-project-card
            title="Controle de postagens"
            description="REST API que fornece recursos relacionados a posts de usuarios."
            details= "Java  |  Maven  |  Spring  |  MongoDB"
            url="https://github.com/alexsandev/webservice-springboot-mongodb/">
        </app-project-card>
    </div>
</section>