<section id="projetos" class="container">
    <div class="content">
        <app-project-card
        title="Java Chess"
        description="Jogo de Xadrez offline para dois jogadores"
        details= "Java, JavaFX"
        url="https://github.com/alexsandev/java-chess">
        </app-project-card>
        <app-project-card></app-project-card>
        <app-project-card></app-project-card>
        <app-project-card></app-project-card>
        <app-project-card></app-project-card>
        <app-project-card></app-project-card>
    </div>
</section>