* {
    font-family: Roboto;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(70,209,177,1) 50%, rgba(255,255,255,1) 100%);
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    column-gap: 30px;
    row-gap: 30px;
    width: 80%;
}

@media screen and (max-width: 768px) {
    .content {
        display: flex;
        flex-direction: row;
        width: 95%;
        height: 600px;
        overflow: scroll;
    }
}