*{
    font-family: Roboto;
}

* > a {
    text-decoration: none;
    color: black;
}

.container__menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 70px;
    width: 100%;
    background-color: white;
    animation: SlideInTop 1s ease 0s 1 normal forwards;
}

.menu-bar__logo {
    padding: 0 30px;
}

.menu-bar__options {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    padding: 0 50px;
}

.menu-bar__options > a:hover {
    color: #46d1b1;
}

@keyframes SlideInTop {
	0% {
		opacity: 0;
		transform: translateY(-250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

