* {
    font-family: Roboto;
}
.container__contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(70,209,177,1) 50%, rgba(255,255,255,1) 100%);
}

.contact-section__content > h1 {
    text-transform: uppercase;
    size: 50px;
}