<div id="contato" class="container__contact-section">
    <div class="contact-section__content">
        <h1>Me mande uma mensagem</h1>
        <form action="https://formsubmit.co/e89338d595e74234591ea59679c20d67" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="Nome" required>
                <input class="form-control" type="email" name="email" placeholder="Seu e-mail" required>
                <textarea name="message" cols="30" rows="10" placeholder="Escreva aqui sua mensagem" required></textarea>
                <button type="submit">Enviar</button>
            </div>
        </form>
    </div>
</div>
