<section id="sobre" class="container">
    <div class="content">
        <header>
            <h1>Sobre mim</h1>
            <hr>
        </header>
        <article>
            <div class="card">
                <p>Formado em Analise e Desenvolvimento de Sistema pela Universiade Anhembi Morumbi em 2018, trabalhei durante 4 anos com infraestrutura e suporte em TI.</p>
                <img src="assets/img/hat.png" alt="Chápeu de formatura">
            </div>
            <div class="card">
                <p>Durante esse tempo sempre mative um interesse especial por desenvolvimento de software, agora em 2023 descidi me dedicar a migrar para área.</p>
                <img src="assets/img/software.png" alt="Icone desenvolvimento de software">
            </div>
            <div class="card">
                <p>Tenho praticado e me aprimorado por meio de cursos, Bootcamps e projetos pessoais. Além disso iniciei uma segunda graduação em Engenharia de Computação para me ajudar nesse processo.</p>
                <img src="assets/img/learn.png" alt="Icone aprendendo">
            </div>
        </article>
    </div>    
</section>
