<section id="sobre" class="container">
    <div class="title">
        <h1>Sobre mim</h1>
    </div>
    <div class="content">
        <p>Formado em Analise e Desenvolvimento de Sistema pela Universiade Anhembi Morumbi em 2018, trabalhei durante 4 anos com infraestrutura e suporte em TI.</p>
        <p>Durante esse tempo sempre mative um interesse especial por desenvolvimento de software, agora em 2023 descidi me dedicar a migrar para área.</p>
        <p>Tenho praticado e me aprimorado por meio de cursos, Bootcamps e projetos pessoais. Além disso iniciei uma segunda graduação em Engenharia de Computação para me ajudar nesse processo.</p>
    </div>
</section>
