* {
    font-family: Roboto;
}
.container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(70,209,177,1) 50%, rgba(255,255,255,1) 100%);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    row-gap: 30px;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
}

.title {
    width: 50%;
}

.title > h1 {
    width: max-content;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
}

@media screen and (max-width: 768px) {
    .title {
        width: 80%;
    }

    .content {
        width: 80%;
    }
}